.radarChart {
    background-color: $main-color;
    opacity: 0.85;
    border-radius: 5px;

    .recharts-legend-item-text {
        visibility: hidden;
    }
}

.responsive--chart {
    width: 300px;
    height: 300px;
}

tspan {
    fill: white;
}

@media (max-width: 1250px) { 
    .responsive--chart {
            height: 270px;
            max-width: 200px;
        }

}