.home {
    display: flex;
    height: 90vh;
    width: 100vw;

    &__wrapper {
        display: flex;
        flex-direction: column;

        &--statistics {
            display: flex;
            width: 90%;
            margin: 0 auto;
            .home__chart {
                width: 80%;
                height: 200px;
                &__container {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                }
                
            }
        }
    }
}