.recharts-legend-item-text {
    position: absolute;
    height: 36px;
    left: 30px;
    top: -179px;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    z-index: 0;
}
.recharts-legend-item-day {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 36px;
    left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    top: 0;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    z-index: 0;
}

.recharts-legend-icon {
    height: 0;
    visibility: hidden;
}

.recharts-surface {
    border-radius: 10px;
}

.chart-container {
    position: relative; /* Position relative pour le conteneur principal */
    width: 300px; /* Ajustez la largeur selon vos besoins */
    height: 300px; /* Ajustez la hauteur selon vos besoins */
}

.x-axis-container {
    position: absolute;
    bottom: 0; /* Positionné au bas du conteneur */
    left: 0; /* Aligné à gauche du conteneur */
    width: 100%; /* Largeur du conteneur */
    height: 36px; /* Hauteur de l'axe X */
    pointer-events: none; /* Pour que l'axe X ne capture pas les événements de souris */
}