.recharts-legend-item-text {
    position: absolute;
    height: 36px;
    left: 50px;
    top: -240px;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    z-index: 0;
}
.recharts-legend-item-day {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 36px;
    left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    top: -25px;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    z-index: 0;
}

.recharts-legend-icon {
    height: 0;
    visibility: hidden;
}

.recharts-surface {
    border-radius: 10px;
}
.payload--arechart {
    padding: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.payload--arechart {
    top: -100px;
}