@import '../../assets/utils/variables'; 


.home__statistics {
    height: 200px;
    width: 20%;
    gap: 70px;
    display: flex;
    flex-direction: column;
    &__wrapper {
        display: flex;
        padding: 20px;
        background-color: $grey-color;
        border-radius: 10px;
        width: 70%;
        margin: 0 auto;
        
        &--icon {
            height: 50px;
            width: 50px;
        }
        &--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 10px;
            p {
                font-size: 14px;
                color: #74798C;
                ;
            }
        }
    }
}

@media (max-width: 1250px) { 

    .home__statistics {
        &__wrapper {
            width: 90%;
        }
    }
}