.home__wrapper {
    width: 95vw;
    &--banner {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        h1 {
            font-size: 48px;
            margin-bottom: 30px ;
            span {
                color: $second-color;
            }
        }
    }
}